@model Praksa_V2.Cars

<div>
    <h4>Cars</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.carMake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carMake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.engineNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.engineNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chasisNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chasisNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.power)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.power)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fuel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fuel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manYear)
        </dd>

    </dl>
</div>
<div style="width:100vw">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2876.0513122090288!2d18.401847715381418!3d43.87548844604629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4758cecdfcb96383%3A0xb6a3af6b033fc377!2sJuki%C4%87eva+36%2C+Sarajevo+71000!5e0!3m2!1sbs!2sba!4v1460899892047"
           frameborder="0" style="border: 0; width:60vw; height:40vh"></iframe>

</div>